body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: var(--gray);
    background-image: url("../images/handwrite.svg");
    background-repeat: repeat;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 0 clamp(16px, 10vw, 135px); /* Адаптивный отступ по бокам, вертикальный остается 0 */
    width: 100vw;
    margin: 0 auto; /* Центрируем main */
}

/* Адаптивные боковые отступы */
@media (max-width: 1200px) {
    main {
        padding: 0 clamp(16px, 8vw, 120px);
    }
}

@media (max-width: 992px) {
    main {
        padding: 0 clamp(16px, 6vw, 100px);
    }
}

@media (max-width: 768px) {
    main {
        padding: 0 clamp(16px, 4vw, 80px);
    }
}

@media (max-width: 480px) {
    main {
        padding: 0 clamp(16px, 2vw, 40px);
    }
}
