/* Общие стили для навигации */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 16px 135px;
    height: 68px;

    border-radius: 0 0 16px 16px;
    background-color: var(--white);
}

.logo {
    width: 96px;
}

.nav-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

/* Стили для ссылок */
.nav-link {
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;

    padding: 8px 16px;
    border-radius: 8px;

    text-decoration: none;
    color: var(--primary); /* Цвет текста */
    transition: color 0.3s ease;
}

.nav-link:hover {
    background-color: var(--gray); /* Цвет при наведении */
}

.nav-link .active {
    background-color: var(--primary);
    color: var(--primary);
}
