body {
    display: flex;
    flex-direction: column;

    gap: 8px;
    min-height: 100vh;
    scroll-padding-top: 64px;

    background-repeat: repeat;
    background-color: var(--gray);
    background-image: url("../../public/images/handwrite.svg");
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;

    width: 100%;
}
