.authors-comics-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 1170px;
}

.hero-block {
    position: relative;
    overflow: hidden; /* Чтобы картинки не вылезали за блок */

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 24px;
    width: 100%;
    border-radius: 32px;
    padding: 48px;

    color: var(--white);
    background: linear-gradient(45deg, #FF1D7F, #FFD428);
}
.big-comics {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 340px;
    transform: rotate(-10deg);
    z-index: 1;
}

.hero-block > *:not(img) {
    position: relative;
    z-index: 2;
}

/* Малая комикс-картинка справа */
.small-comics {
    position: absolute;
    bottom: -80px;
    right: 0;
    width: 240px;
    transform: rotate(10deg);
    z-index: 1;
}

.hero-tag {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 20px;
    border-radius: 999px;
    background-color: var(--primary);
    color: var(--white);

    /*background-color: rgba(255, 255, 255, 0.16);*/
    /*backdrop-filter: blur(24px); !* Эффект размытия *!*/
    /*-webkit-backdrop-filter: blur(24px); !* Для поддержки в Safari *!*/
}

.hero-title-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 8px;
}

.steps-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 16px;
    padding-block: 16px;
}

.steps-wrapper > .primary-btn {
    width: fit-content;
}

.steps-list {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;
}

.step-block {
    display: flex;
    flex-direction: column;

    gap: 16px;
    border-radius: 24px;
    padding: 24px;
    width: 260px;

    color: var(--primary);
    background-color: var(--white);

    transition: all 0.2s ease;
}

.step-block:hover {
    color: var(--primary);

    scale: 1.02;
}

.step-img {
    max-width: 96px;
}

.step-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.step-num, .author-name-text, .comic-author-text {
    color: var(--secondary);
}

.info-block{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 16px;
    padding: 32px;
    border-radius: 32px;

    background-color: var(--white);
}

.info-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    gap: 16px
}

.authors-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 32px;
    padding-block: 24px;
}

.author-item {
    display: flex;
    align-items: center;

    gap: 16px;
}

.author-item-text-wrapper {
    display: flex;
    flex-direction: column;

    gap: 4px;
}

.author-avatar-wrapper {
    overflow: hidden;

    width: 64px;
    height: 64px;
    border-radius: 999px;

    border: 1px solid var(--gray);
}

.author-avatar-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.authors-rating {
    position: relative;
    overflow: hidden;

    background-color: var(--primary);
    color: var(--white);
}

.cup-icon {
    position: absolute;
    top: 0px;
    left: 32%;
    transform: rotate(15deg);
    opacity: 0.32;
    z-index: 1;
}

.lamp-icon{
    position: absolute;
    top: 32px;
    right: 32%;
    transform: rotate(-10deg);
    opacity: 0.16;
    z-index: 1;
}

.info-block.authors-rating > *:not(img) {
    position: relative;
    z-index: 2;
}

.authors-rating > .secondary-btn {
    width: fit-content;

    color: var(--white);
    border-color: var(--white);
}

.authors-rating > .secondary-btn:hover {
    color: var(--tertiary);
    border-color: var(--tertiary);
}

.authors-rating >.info-header {
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

.author-subtitle {
    color: var(--tertiary);
}


.comics-list-wrapper {
    display: flex;
    overflow: hidden;
    width: 100%;

    gap: 8px;
}

.comic {
    display: flex;
    flex-direction: column;

    gap: 16px;
}

.comic-cover-wrapper {
    overflow: hidden;
    width: 220px;
    aspect-ratio: 2/3;
    border-radius: 24px;

    border: 1px solid var(--gray);
    background-color: var(--light-gray);
}

.comic-cover-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comic-tags-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: 4px;
}

.comic-tag {
    display: flex;
    padding: 6px 12px;
    border-radius: 999px;

    border: 1px solid var(--primary);
}

.comic-tag.more-tag {
    color: var(--white);
    background-color: var(--primary);
}

.comic-title {
    display: flex;
    flex-direction: column;

    gap: 8px;
}

.comic-avg-grade {
    display: flex;
    align-items: center;

    gap: 8px;
}
