.auth-container {
    position: relative;
}

.hero {
    z-index: -1;
}

#whiter-img {
    position: absolute;

    top: 160px;
    left: -256px;

    transform: rotate(-15deg);
}

#scientist-img {
    position: absolute;

    top: 32px;
    right: -128px;

    transform: rotate(15deg);
}

.auth-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 32px;
    padding: 32px;
    border-radius: 32px;

    background-color: var(--white);
}

.auth-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
    width: 100%;
}

.auth-tabs {
    display: flex;
    gap: 8px;
    width: 100%;
    padding: 4px;
    border-radius: 16px;
    background-color: var(--light-gray);
}

.auth-tabs .tab {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 12px 16px;
    border-radius: 12px;

    cursor: pointer;
    color: var(--tertiary);

    transition: all 0.3s ease;
}

.auth-tabs .tab.active {
    background-color: var(--primary);
    color: var(--white);
}

.auth-tabs .tab:hover:not(.active){
    background-color: var(--white);
    color: var(--primary);
}

.error-message {
    color: var(--primary-red);
    font-size: smaller;
}
