.book-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: 1170px;
}

.path-bar {
    display: flex;
    flex-direction: row;
    gap: 4px;

    align-items: center;
}

.path-bar a {
    padding: 4px 8px;
    border-radius: 8px;

    text-decoration: none;
    background-color: var(--white);

    transition: color 0.3s ease-in, background-color 0.3s ease-in;
}

.path-bar a:hover {
    color: var(--primary-blue);
}


.info-block{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 32px;
    border-radius: 32px;

    background-color: var(--white);
}

.info-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 16px
}

.h-divider {
    width: 100%; /* Растягиваем линию на всю ширину контейнера */
    height: 1px; /* Толщина линии */
    background-color: var(--light-gray); /* Цвет линии (используем вашу переменную) */
}

.book-preview-info {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 32px;
}

.book-text-description {
    display: flex;
    flex-direction: column;

    gap: 16px;
}

.book-title {
    max-width: 780px;
}

.genres-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 4px;
}

.genre-tag {
    display: flex;
    padding: 8px 16px;
    border-radius: 999px;

    border: 2px solid var(--primary);
    color: var(--primary);
    text-transform: capitalize;
}

.text-info-flex {
    display: flex;
    align-items: center;

    gap: 8px;
}

.author-info-wrapper, .year-info-wrapper {
    display: flex;
    flex-direction: column;

    min-width: 220px;
    gap: 8px;
    padding: 24px;
    border-radius: 16px;

    background-color: var(--light-gray);
}

.author-title, .year-title {
    color: var(--secondary);
}

.cover_wrapper {
    overflow: hidden;

    width: 280px;
    aspect-ratio: 2/3;
    border-radius: 24px;

    border: 1px solid var(--gray);
}

.cover_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
