.primary-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 8px 24px;
    height: 44px;
    border-radius: 12px;
    cursor: pointer;

    font-family: 'Involve', sans-serif;

    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0;

    background-color: var(--primary-blue);
    color: var(--white);

    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.secondary-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 8px 24px;
    height: 44px;
    border-radius: 12px;
    cursor: pointer;

    font-family: 'Involve', sans-serif;

    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0;

    background-color: transparent;
    border: 1px solid var(--primary-blue);
    color: var(--primary-blue);

    transition:border 0.3s, color 0.3s, transform 0.2s;
}

.primary-btn:hover {
    background-color: var(--primary-blue-dark);
}

.secondary-btn:hover {
    border-color: var(--primary-blue-dark);
}

.primary-btn:active, .secondary-btn:active {
    transform: scale(0.95); /* Мелкое сжатие при нажатии */
}


