.primary-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 8px 16px;
    height: 44px;
    border-radius: 12px;
    cursor: pointer;

    font-family: 'Involve', sans-serif;

    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0;

    background-color: var(--primary-blue);
    color: var(--white);

    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.secondary-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 8px 16px;
    height: 44px;
    border-radius: 12px;
    cursor: pointer;

    font-family: 'Involve', sans-serif;

    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0;

    background-color: transparent;
    border: 1px solid var(--primary-blue);
    color: var(--primary-blue);

    transition:border 0.3s, color 0.3s, transform 0.2s;
}

.tertiary-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 8px 0;
    height: 44px;
    border-radius: 12px;
    cursor: pointer;

    font-family: 'Involve', sans-serif;

    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0;

    background-color: transparent;
    border: none;
    color: var(--primary-blue);

    transition:border 0.3s, color 0.3s, transform 0.2s;
}

.primary-btn:hover {
    background-color: var(--primary-blue-dark);
}

.secondary-btn:hover {
    border-color: var(--primary-blue-dark);
}

.tertiary-btn:hover {
    color: var(--primary-blue-dark);
}


.primary-btn:active,
.secondary-btn:active,
.tertiary-btn:active {
    transform: scale(0.95); /* Мелкое сжатие при нажатии */
}

/* Планшеты (576px–992px) */
@media (max-width: 992px) {
    .primary-btn {
        padding: 6px 12px;
        height: 40px;
        border-radius: 10px;
        font-size: 14px;
    }
    .secondary-btn {
        padding: 6px 12px;
        height: 40px;
        border-radius: 10px;
        font-size: 14px;
    }
    .tertiary-btn {
        padding: 6px 0;
        height: 40px;
        border-radius: 10px;
        font-size: 14px;
    }
}

/* Мобильные устройства (<576px) */
@media (max-width: 576px) {
    .primary-btn {
        padding: 4px 12px;
        height: 36px;
        border-radius: 8px;
        font-size: 12px;
    }
    .secondary-btn {
        padding: 4px 12px;
        height: 36px;
        border-radius: 8px;
        font-size: 12px;
    }
    .tertiary-btn {
        padding: 4px 0;
        height: 36px;
        border-radius: 8px;
        font-size: 12px;
    }
}


