:root {
    --primary-blue: #1D6CFF;
    --secondary-blue: #F3FAFF;
    --primary-blue-dark: #0059FF;
    --primary: #1B191A;
    --secondary: #787878;
    --tertiary: #AEAEAE;
    --gray: #F1F1F1;
    --light-gray: #F8F8F8;
    --white: #FFFFFF;
    --primary-red: #FF4929;

    --error: #E30004;
    --error-secondary: #FFF9F9;

    --success: #006730;
    --success-secondary: #F7FFF3;
}
