.event-container {
    display: flex;
    flex-direction: column;

    gap: 8px;
    width: 1170px;
}

.event-preview {
    overflow: hidden;

    display: flex;
    align-items: flex-end;

    min-width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 32px;

    transition: transform 0.5s ease;
}

.event-preview-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 32px;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.32);
    color: var(--white);
}

.event-preview .event-bottom-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: flex-end;
}

.event-preview .left-part-text {
    display: flex;
    flex-direction: column;

    gap: 24px;
}

.event-tags-wrapper {
    display: flex;
    align-items: center;

    gap: 4px;
}

.event-tag {
    display: flex;

    padding: 8px 16px;
    border-radius: 999px;

    background-color: rgba(255, 255, 255, 0.16);;
    backdrop-filter: blur(24px); /* Эффект размытия */
    -webkit-backdrop-filter: blur(24px); /* Для поддержки в Safari */
    text-transform: capitalize;
}

.info-block{
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 24px;
    padding: 32px;
    border-radius: 32px;

    background-color: var(--white);
}

.event-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.event-action-block {
    display: flex;
    flex-direction: column;

    gap: 24px;
    width: 50%;
}

.primary-btn {
    width: fit-content;
}

.event-datetime-wrapper {
    position: relative;

    display: flex;
    flex-direction: row;

    gap: 32px;
    padding: 24px;
    border-radius: 16px;
    height: fit-content;

    background-color: var(--light-gray);
}

.event-date, .event-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 8px;
    width: 128px;
}

.event-date:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 24px;
    bottom: 24px;
    width: 1px;
    background-color: var(--gray); /* Используйте нужный цвет */
    transform: translateX(-50%);
}

.event-location {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.map {
    border-radius: 16px;
    overflow: hidden;
}


