.events-container {
    display: flex;
    flex-direction: column;

    gap: 8px;
    width: 1170px;
}

.events-explore-container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 32px;
    border-radius: 32px;

    background-color: var(--white);
}

.events-explore-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    gap: 24px;
}

.info-block{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 32px;
    border-radius: 32px;

    background-color: var(--white);
}

.info-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 16px
}




.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 24px;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 8px;
}

.search-form input {
    padding: 8px 16px;
    height: 44px;
    width: 320px;
    border-radius: 12px;
    border: 1px solid var(--gray);
    font-family: 'Involve', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    color: var(--primary);
    background-color: var(--light-gray);
    transition: box-shadow 0.1s ease-in, background-color 0.3s ease-in;
}

.search-form input::placeholder {
    color: var(--tertiary);
}

.search-form input:focus {
    background-color: var(--white);
    border: 1px solid var(--primary-blue);
    box-shadow: 0 16px 48px rgba(0, 90, 255, 0.08);
}

.search-input-wrapper {
    position: relative;
    width: 320px;
}

.clear-search {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;
    border-radius: 999px;

    background: transparent;
    transition: background-color 0.2s ease;
}

.clear-search {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;
    border-radius: 999px;

    transition: all 0.2s ease;
}

.clear-search:hover {
    background-color: var(--light-gray);
}

.filter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 44px;
    height: 44px;

    border-radius: 12px;
    padding: 8px;
    gap: 2px;
    cursor: pointer;

    font-family: 'Involve', sans-serif;
    font-size: 14px;
    font-weight: 600;

    background-color: var(--primary);
    color: var(--white);
    border: none;
    transition: background-color 0.2s ease;
}

.filter-btn:hover {
    background-color: var(--secondary);
}

.events-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    width:100%;
}

.event-card {
    overflow: hidden;

    display: flex;
    flex-direction: column;

    gap: 24px;
    padding-bottom: 24px;
    border-radius: 24px;
    width: 548px;

    border: 1px solid var(--light-gray);
    background-color: var(--light-gray);

    /*transition: all 0.2s ease;*/
}

/*.event-card:hover {*/
/*    scale: 0.98;*/
/*    !*background-color: var(--gray);*!*/
/*    !*border: 1px solid var(--primary-blue);*!*/
/*}*/

.event-description {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding-inline: 24px;
}

.event-card-datetime, .event-card-datetime-data, .event-card-datetime-title {
    display: flex;
    align-items: center;
    gap: 4px;

    color: var(--secondary);
}

.event-card-datetime > .event-card-datetime-data {
    gap: 2px;
}

.event-title-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 8px;
}

.event-title-block h3 {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-categories {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 4px;
}

.event-tag {
    display: flex;
    align-items: center;

    padding: 8px 16px;
    border-radius: 999px;
    white-space: nowrap;

    text-transform: capitalize;
    border: 1px solid var(--primary);
    color: var(--primary);
}

.event-tag.more-tags {
    background-color: var(--primary);
    color: var(--white);
    cursor: default;
}

.event-tag.hidden {
    display: none;
}

.cover_wrapper {
    overflow: hidden;

    width: 100%;
    aspect-ratio: 2/1;
}

.cover_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.load-more-container {
    display: flex;
    justify-content:center;

    text-align: center;
    margin: 20px 0;
}



.hidden {
    visibility: hidden;
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

/* Модальное окно */
.modal {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.32);
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    pointer-events: none;
}

.modal.show {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    display: flex;
    flex-direction: column;

    border-radius: 32px;
    padding: 32px;
    width: 100%;
    max-width: 480px;
    gap: 16px;
    position: relative;
    pointer-events: auto;
    background: var(--white);
}

.modal-section {
    display: flex;
    flex-direction: column;

    gap: 8px;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.modal-content select, #category-search {
    padding: 8px 12px;
    height: 44px;
    border-radius: 12px;
    border: 1px solid var(--gray);
    font-family: 'Involve', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    color: var(--primary);
    background-color: var(--light-gray);
    transition: box-shadow 0.1s ease-in, background-color 0.3s ease-in;
}

.modal-content select::placeholder, #category-search::placeholder {
    color: var(--tertiary);
}

.modal-content select:focus, #category-search:focus {
    background-color: var(--white);
    border: 1px solid var(--primary-blue);
    box-shadow: 0 16px 48px rgba(0, 90, 255, 0.08);
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    width: 44px;
    height: 44px;
    border-radius: 999px;
    transition: all 0.2s ease;
}

.modal-close:hover {
    background-color: var(--light-gray);
}

.selected-categories-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.selected-category-tag {
    display: flex;
    align-items: center;

    padding: 8px 16px;
    border-radius: 999px;
    gap: 8px;

    background-color: var(--primary);
    color: var(--white);
}

.selected-category-tag .remove-category {
    color: var(--white);

    cursor: pointer;
    transition: all 0.2s ease;
}

.selected-category-tag:hover {
    background-color: var(--secondary);
}

#category-options {
    display: none;
}

option {
    font-weight: 600;
}

.suggestion-box {
    position: absolute;
    z-index: 1000;
    background: var(--white);
    max-height: 200px;
    overflow-y: auto;
    width: 280px;
    box-shadow: 0 2px 32px rgba(0,0,0,0.08);
    margin-top: 64px;

    padding: 8px;
    border-radius: 16px;
}

.suggestion-item {
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;

    transition: all 0.2s ease;
}

.suggestion-item:hover {
    color: var(--primary-blue);
    background-color: var(--light-gray);
}



.events-slider-container {
    position: relative;
    overflow: hidden;

    width: 1170px;
    margin: 0 auto;
    border-radius: 32px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    min-width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 32px;

    background-color: var(--primary-blue);
}

.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 32px 32px 48px 32px;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.32);
    color: var(--white);
}

.slide-center-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 16px;
}

.slide-event-tags-wrapper {
    display: flex;
    align-items: center;

    gap: 4px;
}

.slide-event-tag {
    display: flex;

    padding: 8px 16px;
    border-radius: 999px;

    background-color: rgba(255, 255, 255, 0.16);
    backdrop-filter: blur(24px); /* Эффект размытия */
    -webkit-backdrop-filter: blur(24px); /* Для поддержки в Safari */
    text-transform: capitalize;
}

.slide-event-datetime {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    color: rgba(255, 255, 255, 0.96);
}

.prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    padding: 8px;
    border-radius: 999px;
    cursor: pointer;

    background: rgba(255, 255, 255, 0.16);
    backdrop-filter: blur(24px); /* Эффект размытия */
    -webkit-backdrop-filter: blur(24px); /* Для поддержки в Safari */
}

.prev-button { left: 16px; }
.next-button { right: 16px; }

.prev-button:hover, .next-button:hover {
    background: rgba(255, 255, 255, 0.24);
}

.dots {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 999px;
    background-color: var(--primary);
    /*background: rgba(255, 255, 255, 0.16);*/
    /*backdrop-filter: blur(24px); !* Эффект размытия *!*/
    /*-webkit-backdrop-filter: blur(24px); !* Для поддержки в Safari *!*/

    cursor: pointer;
}

.dot.active {
    background: white;
}

