@font-face {
    font-family: 'Involve';
    src: url('../../public/fonts/Involve-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Involve';
    src: url('../../public/fonts/Involve-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: normal;
}

/* Применение шрифтов */
body {
    font-family: 'Involve', sans-serif;
    font-weight: 600; /* По умолчанию Medium */
    font-size: 14px;
    color: var(--primary);
}

/* Заголовки */
h1 {
    font-size: 64px;
    font-weight: 600; /* SemiBold */
    line-height: 120%;
    letter-spacing: 0;
}

h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0;
}

h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0;
}

/* Обычный текст */
.text-big {
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0;
}

.text-medium {
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0;
}

.text-small {
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0;
}

span, label, .text-hint {
    font-size: 12px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0;
}



/* Планшеты (576px–992px) */
@media (max-width: 992px) {
    h1 {
        font-size: 48px; /* Уменьшаем размер для планшетов */
        line-height: 115%;
    }

    h2 {
        font-size: 36px;
        line-height: 115%;
    }

    h3 {
        font-size: 24px;
        line-height: 115%;
    }

    .text-big {
        font-size: 16px;
        line-height: 120%;
    }

    .text-medium {
        font-size: 14px;
        line-height: 135%;
    }

    .text-small {
        font-size: 12px;
        line-height: 135%;
    }

    span, label, .text-hint {
        font-size: 12px;
        line-height: 135%;
    }
}

/* Мобильные устройства (<576px) */
@media (max-width: 576px) {
    h1 {
        font-size: 32px; /* Ещё меньше для мобильных */
        line-height: 110%;
    }

    h2 {
        font-size: 28px;
        line-height: 110%;
    }

    h3 {
        font-size: 20px;
        line-height: 110%;
    }

    .text-big {
        font-size: 16px;
        line-height: 120%;
    }

    .text-medium {
        font-size: 14px;
        line-height: 130%;
    }

    .text-small {
        font-size: 12px;
        line-height: 130%;
    }

    span, label, .text-hint {
        font-size: 12px;
        line-height: 130%;
    }
}
