header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 64px;
    padding-inline: 24px;

    background-color: var(--white);

    position: sticky;
    top: 0;
    z-index: 1000;
}

header.scrolled {
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.08);
}

.h-divider {
    width: 100%; /* Растягиваем линию на всю ширину контейнера */
    height: 1px; /* Толщина линии */
    background-color: var(--light-gray); /* Цвет линии (используем вашу переменную) */
}

.logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 260px;
}

.logo {
    height: 48px;
}

.nav-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 4px;
}

/* Стили для ссылок */
.nav-link {
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;

    padding: 8px 12px;
    border-radius: 8px;
    text-decoration: none;

    color: var(--primary); /* Цвет текста */

    transition: all 0.2s ease;
}

.nav-link:hover {
    color: var(--primary-blue);
}

.active-link {
    background-color: var(--primary);
    color: var(--white);
    /*border-bottom: 2px solid var(--primary-blue);*/
}

.active-link:hover {
    background-color: var(--primary);
    color: var(--white);
}



.header-account-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 8px;
    align-items: center;

    width: 260px;
}

.header-profile-container {
    position: relative;
    display: inline-block;
}

.header-profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 8px;
    cursor: pointer;

    transition: all 0.2s ease;
}

.header-profile-info:hover {
    color: var(--primary-blue);
}

.header-avatar-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    border-radius: 999px;

    overflow: hidden;

    border: 1px solid var(--gray);
}


.header-avatar-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header .icon-wrapper:hover {
    background-color: var(--light-gray);
    cursor: pointer;
}

.profile-dropdown {
    position: absolute;
    right: -8px;
    top: calc(100% + 20px);
    z-index: 1000;
    padding: 8px;
    width: 220px;
    background-color: var(--white);
    border-radius: 16px;
    box-shadow: 0 4px 64px rgba(0, 0, 0, 0.12);

    /* Начальное состояние - скрыто */
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition:
        opacity 0.15s ease-out,
        transform 0.15s ease-out,
        visibility 0s linear 0.15s; /* Задержка перед скрытием */
}

.header-profile-container:hover .profile-dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition:
        opacity 0.15s ease-out 0.1s, /* Задержка перед появлением */
        transform 0.15s ease-out 0.1s,
        visibility 0s linear;
}

/* Для мобильных устройств */
.profile-dropdown.force-show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition-delay: 0s;
}


.dropdown-item {
    display: flex;
    align-items: center;

    gap: 12px;
    padding: 8px 12px;
    min-height: 44px;
    border-radius: 8px;

    color: var(--primary);
    text-decoration: none;
    cursor: pointer;

    transition: background-color 0.2s ease;
}

.dropdown-item:hover {
    background-color: var(--light-gray);
    color: var(--primary);
}

.dropdown-item img {
    width: 24px;
    height: 24px;
}

.dropdown-divider {
    height: 1px;
    background-color: var(--gray);
    margin: 8px 0;
}

.logout-btn {
    font-family: 'Involve', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0;

    width: 100%;
    /*background-color: var(--light-gray);*/
    color: var(--primary-red);
    border: 1px solid var(--primary-red);


    transition: all 0.2s ease, transform 0.2s;
}

.logout-btn:hover {
    background-color: #FFF5F3;
    color: var(--primary-red);
}

/* Бургер-иконка (изначально скрыта) */
#menu-trigger {
    display: none;
    cursor: pointer;
}

/* Затемненный оверлей */
.mobile-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.32);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    pointer-events: none;
}

/* Боковое меню */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 280px;
    height: 100%;
    z-index: 1000;
    border-radius: 16px 0 0 16px;

    background: var(--white);

    transition: right 0.3s ease;
    overflow-y: auto;
    pointer-events: auto;
}

.mobile-menu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px;
    border-bottom: 1px solid var(--light-gray);
}

.mobile-menu__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px;
}

.mobile-menu__content ul {
    display: flex;
    flex-direction: column;

    gap: 4px;
    list-style: none;
}

.mobile-menu__content a {
    display: block;
    padding: 12px;
    color: var(--primary);
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.mobile-menu__content a.active-link {
    background-color: var(--primary); /* Изменяем на более светлый вариант */
    color: var(--white);
}

.mobile-menu__content a:not(.active-link):hover {
    background-color: var(--gray);
}
/* Состояния при открытии */
.mobile-menu.active {
    right: 0;
}

.mobile-menu-overlay.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* Показываем бургер на маленьких экранах */
@media (max-width: 1200px) {
    #menu-trigger {
        display: flex;
    }

    /* Скрываем обычное меню */
    .nav-menu {
        display: none;
    }
}



