.lit-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 460px;

    background-color: transparent;
    transition: opacity 0.3s ease;
}

.lit-form-row {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;
}

.lit-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.lit-field label {
    color: var(--primary);
    font-family: 'Involve', sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.lit-field input, .lit-field textarea {
    padding: 8px 16px;
    height: 44px;
    width: 100%;

    border-radius: 12px;
    border: 1px  solid var(--gray);

    font-family: 'Involve', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    color: var(--primary);

    background-color: var(--light-gray);

    transition: box-shadow 0.1s ease-in, background-color 0.3s ease-in;
}

.lit-field textarea {
    height: 120px;

}

.lit-field input::placeholder, .lit-field textarea::placeholder {
    color: var(--tertiary);
}

.lit-field input:focus, .lit-field textarea:focus {
    background-color: var(--white);
    border: 1px solid var(--primary-blue);
    box-shadow: 0 16px 48px rgba(0, 90, 255, 0.08);
}
