.lit-form {
    display: none;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 460px;
    background-color: transparent;
    transition: opacity 0.3s ease;
}

.lit-form-row {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;
}

.lit-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.lit-field label {
    color: var(--primary);
    font-family: 'Involve', sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.lit-field input {
    padding: 8px 16px;
    height: 44px;

    border-radius: 12px;
    border: 1px  solid var(--gray);

    font-family: 'Involve', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    color: var(--primary);

    background-color: var(--light-gray);

    transition: box-shadow 0.1s ease-in, background-color 0.3s ease-in;
}

.lit-field input::placeholder {
    color: var(--tertiary);
}

/*!* Специальный стиль для поля даты *!*/
/*.lit-field input[type="date"]::-webkit-datetime-edit-text,*/
/*.lit-field input[type="date"]::-webkit-datetime-edit-month-field,*/
/*.lit-field input[type="date"]::-webkit-datetime-edit-day-field,*/
/*.lit-field input[type="date"]::-webkit-datetime-edit-year-field {*/
/*    color: var(--tertiary);*/
/*}*/

/*.lit-field input[type="date"]:valid {*/
/*    color: var(--primary); !* ваш основной цвет текста *!*/
/*}*/

.lit-field input:focus {
    background-color: var(--white);
    border: 1px solid var(--primary-blue);
    box-shadow: 0px 16px 48px rgba(0, 90, 255, 0.08);
}

.lit-form button {
    font-family: 'Involve', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    width: 100%;
    padding: 12px;
}
