.library-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 1170px;
}

.library-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 24px;
    padding: 32px;
    border-radius: 32px;
    background-color: var(--white);
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 24px;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 8px;
}

.search-form input {
    padding: 8px 16px;
    height: 44px;
    width: 320px;
    border-radius: 12px;
    border: 1px solid var(--gray);
    font-family: 'Involve', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    color: var(--primary);
    background-color: var(--light-gray);
    transition: box-shadow 0.1s ease-in, background-color 0.3s ease-in;
}

.search-form input::placeholder {
    color: var(--tertiary);
}

.search-form input:focus {
    background-color: var(--white);
    border: 1px solid var(--primary-blue);
    box-shadow: 0 16px 48px rgba(0, 90, 255, 0.08);
}

/*.search-input-wrapper {*/
/*    position: relative;*/
/*    width: 320px;*/
/*}*/

/*.clear-search {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    right: 8px;*/
/*    transform: translateY(-50%);*/
/*    cursor: pointer;*/
/*}*/

/*.clear-search {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/

/*    width: 44px;*/
/*    height: 44px;*/
/*    border-radius: 999px;*/

/*    transition: all 0.2s ease;*/
/*}*/

/*.clear-search:hover {*/
/*    background-color: var(--light-gray);*/
/*}*/

.filter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 12px;
    cursor: pointer;
    font-family: 'Involve', sans-serif;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    transition: background-color 0.2s ease;
}

.filter-btn:hover {
    background-color: var(--secondary);
}

.filter-count {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: var(--primary);
    border: 2px solid var(--primary);
}

.h-divider {
    height: 1px;
    width: 100%;
    background-color: var(--gray);
}

.genre-tags-wrapper {
    display: none; /* Убрано, так как теперь используем поиск */
}

.genre-tag {
    display: none; /* Убрано, так как теперь используем плашки */
}

.genre-input-wrapper.hidden {
    display: none;
}

.library-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 16px;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 280px;
    gap: 16px;
    overflow: hidden;
}

.book > .book-text-data {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.book-author-text {
    color: var(--secondary);
}

.book-categories {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    gap: 4px;
}

.book-category-tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border-radius: 999px;
    white-space: nowrap;
    text-transform: capitalize;
    border: 1px solid var(--primary);
    color: var(--primary);
}

.book-category-tag.more-genres {
    background-color: var(--primary);
    color: var(--white);
    cursor: default;
}

.hidden {
    visibility: hidden;
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

.cover_wrapper {
    overflow: hidden;
    width: 100%;
    aspect-ratio: 2/3;
    border-radius: 24px;
    border: 1px solid var(--gray);
}

.cover_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.load-more-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
}

/* Модальное окно */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.32);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    pointer-events: none;
}

.modal.show {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    display: flex;
    flex-direction: column;

    border-radius: 24px;
    padding: 24px;
    width: 100%;
    max-width: 480px;
    gap: 16px;
    position: relative;
    pointer-events: auto;
    background: var(--white);
}

.modal-section {
    display: flex;
    flex-direction: column;

    gap: 8px;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.modal-content select {
    padding: 8px 16px;
    height: 44px;
    border-radius: 12px;
    border: 1px solid var(--gray);
    font-family: 'Involve', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    color: var(--primary);
    background-color: var(--light-gray);
    transition: box-shadow 0.1s ease-in, background-color 0.3s ease-in;
}

.modal-content select::placeholder {
    color: var(--tertiary);
}

.modal-content select:focus {
    background-color: var(--white);
    border: 1px solid var(--primary-blue);
    box-shadow: 0 16px 48px rgba(0, 90, 255, 0.08);
}

option {
    font-weight: 600;
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    width: 44px;
    height: 44px;
    border-radius: 999px;
    transition: all 0.2s ease;
}

.modal-close:hover {
    background-color: var(--light-gray);
}

.selected-genres-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.selected-genre-tag {
    display: flex;
    align-items: center;

    padding: 8px 12px;
    border-radius: 999px;
    gap: 8px;

    background-color: var(--primary);
    color: var(--white);
}

.selected-genre-tag .remove-genre {
    color: var(--white);

    cursor: pointer;
    transition: all 0.2s ease;
}

.selected-genre-tag:hover {
    background-color: var(--secondary);
}

#genre-search {
    padding: 8px 16px;
    height: 44px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid var(--gray);
    font-family: 'Involve', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    color: var(--primary);
    background-color: var(--light-gray);
    transition: box-shadow 0.1s ease-in, background-color 0.3s ease-in;
}

#genre-search:focus {
    background-color: var(--white);
    border: 1px solid var(--primary-blue);
    box-shadow: 0 16px 48px rgba(0, 90, 255, 0.08);
}
