.profile-container{
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: 1170px;
}

.info-block{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 32px;
    border-radius: 32px;

    background-color: var(--white);
}

.info-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    gap: 8px
}

.info-header-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 8px
}

.profile-tabs-wrapper {
    display: flex;
    align-items: center;

    gap: 4px;
    border-radius: 16px;
    padding: 4px;
    width: fit-content;

    background-color: var(--white);
}

.profile-tab {
    display: flex;
    justify-content: center;

    gap: 8px;
    padding: 8px 12px;
    border-radius: 12px;

    background-color: var(--white);

    cursor: pointer;
    transition: all 0.2s ease;
}

.profile-tab.active-tab {
    background-color: var(--primary);
    color: var(--white);
}

.profile-tab:not(.active-tab):hover {
    background-color: var(--light-gray);
}

.author-comics-action {
    display: flex;
    align-items: center;

    gap: 8px;
}


.subscriptions-count, .author-comics-count{
    color: var(--secondary);
}

.subscription-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 8px;
    border-radius: 16px;

    transition: background-color 0.3s;
}

.subscription-item:hover{
    background-color: var(--light-gray);
}

.subscription-left-data {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 24px;
}

.subscription-username-data {
    display: flex;
    flex-direction: column;

    gap: 4px;
}

.subscription-name {
    color: var(--secondary);
}

.profile-header {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;

    gap: 24px;
    padding: 32px;
    border-radius: 32px;

    background-color: var(--white);
}

.profile-sub-action {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: fit-content;
    gap: 8px;
}

.profile-user-data {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    width: fit-content;
    gap: 24px;
}

.profile-text-data {
    display: flex;
    flex-direction: column;

    gap: 16px;
}

.profile-title-flex {
    display: flex;
    align-items: center;

    gap: 8px;
}

.profile-settings-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border-radius: 12px;

    transition: all 0.2s ease;
}

.profile-settings-btn:hover {
    background-color: var(--light-gray);
}

.profile-settings-btn:active {
    background-color: var(--gray);

    scale: 0.95;
}

.profile-secondary-text-data {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 4px;
}

.profile-email, .dot {
    color: var(--secondary);
}

.user-status-bar {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: fit-content;
    height: 48px;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 999px;

    background-color: var(--light-gray);

    transition: background-color 0.3s;
}

.v-divider {
    height: 100%;
    width: 1px;
    background-color: var(--gray);
}

.user-avg-grade {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 8px;
}


.hw-abstract {
    position: absolute;
    z-index: 1; /* Чтобы иконки были под контентом */
}
.brush-icon {
    right: 500px;
    top: 24px;
    width: 32px;

    transform: rotate(15deg);
}
.draw_pen-icon {
    right: 400px;
    bottom: -8px;
    width: 64px;

    opacity: 0.16;
    transform: rotate(-30deg);
}
.ruler-icon {
    right: 160px;
    top: -16px;

    width: 128px;

    opacity: 0.32;
    transform: rotate(15deg);
}


.profile-user-avatar-wrapper {
    overflow: hidden;

    width: 128px;
    height: 128px;
    border-radius: 999px;

    border: 1px solid var(--gray);
}

.subscription-avatar-wrapper {
    overflow: hidden;

    width: 48px;
    height: 48px;
    border-radius: 999px;

    border: 1px solid var(--gray);
}

.profile-user-avatar-wrapper img,
.subscription-avatar-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.subscribed-btn {
    padding-right: 12px;
    background-color: var(--light-gray);
    color: var(--secondary);
}

.subscribed-btn:hover {
    background-color: var(--gray);
    color: var(--primary);
}




.comics-list-wrapper {
    display: flex;
    position: relative; /* Для абсолютного позиционирования кнопок */
    width: 100%;
    overflow: hidden;
    gap: 8px;
}

.comics-scroll-container {
    display: flex;
    overflow-x: auto; /* Включаем горизонтальный скролл */
    scroll-behavior: smooth; /* Плавная прокрутка */
    gap: 8px;
    width: 100%;
    -webkit-overflow-scrolling: touch; /* Плавный скролл на iOS */
    scrollbar-width: none; /* Скрываем скроллбар в Firefox */
}

.comics-scroll-container::-webkit-scrollbar {
    display: none; /* Скрываем скроллбар в WebKit-браузерах */
}

/* Эффект осветления по бокам */
/* Убираем градиенты из CSS */
.comics-list-wrapper::before,
.comics-list-wrapper::after {
    content: none; /* Убираем псевдоэлементы */
}

.comics-list-wrapper::before {
    left: 0;
    background: linear-gradient(to right, var(--white), transparent);
}

.comics-list-wrapper::after {
    right: 0;
    background: linear-gradient(to left, var(--white), transparent);
}

.scroll-btn {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-blue);

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    z-index: 2;
    transition: background-color 0.2s ease;
}

.scroll-btn:hover {
    background-color: var(--primary-blue-dark);
}

.scroll-left {
    left: 8px; /* Отступ от края */
}

.scroll-right {
    right: 8px; /* Отступ от края */
}

.comic {
    display: flex;
    flex-direction: column;

    gap: 16px;
    max-width: 220px;
    flex-shrink: 0;
}

.comic-cover-wrapper {
    overflow: hidden;
    width: 220px;
    aspect-ratio: 2/3;
    border-radius: 24px;

    border: 1px solid var(--gray);
    background-color: var(--light-gray);
}

.comic-cover-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.comic-tags-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: hidden;

    gap: 4px;
}

.comic-tag {
    display: flex;
    white-space: nowrap; /* Запрещаем перенос текста внутри тега */

    padding: 6px 12px;
    border-radius: 999px;

    border: 1px solid var(--primary);
}

.comic-tag.hidden {
    display: none; /* Скрываем теги, которые не помещаются */
}


.comic-tag.more-tag {
    color: var(--white);
    background-color: var(--primary);
}

.comic-title {
    display: flex;
    flex-direction: column;

    max-width: 100%;
    gap: 8px;
}

.comic-title > .text-big {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* Одна строка без переносов */
    margin: 0;
}

.comic-title > .comic-author-text {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* Одна строка без переносов */
    margin: 0;
    color: var(--secondary); /* Улучшаем читаемость автора */
}

.comic-avg-grade {
    display: flex;
    align-items: center;

    gap: 8px;
}

