.profile-container{
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: 1170px;
}

.info-block{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 32px;
    border-radius: 32px;

    background-color: var(--white);
}

.info-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: space-between;*/

    gap: 8px
}

.subscriptions-count{
    color: var(--secondary);
}

.subscription-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 8px;
    border-radius: 16px;

    transition: background-color 0.3s;
}

.subscription-item:hover{
    background-color: var(--light-gray);
}

.subscription-left-data {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 24px;
}

.subscription-username-data {
    display: flex;
    flex-direction: column;

    gap: 4px;
}

.subscription-name {
    color: var(--secondary);
}

.profile-header {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;

    gap: 24px;
    padding: 32px;
    border-radius: 32px;

    background-color: var(--white);
}

.profile-sub-action {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: fit-content;
    gap: 8px;
}

.profile-user-data {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    width: fit-content;
    gap: 24px;
}

.profile-text-data {
    display: flex;
    flex-direction: column;

    gap: 16px;
}

.profile-secondary-text-data {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 4px;
}

.profile-email, .dot {
    color: var(--secondary);
}

.user-status-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    width: fit-content;
    height: 48px;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 999px;

    background-color: var(--light-gray);

    transition: background-color 0.3s;
}

.user-status-bar:hover {
    background-color: var(--gray);
}

.v-divider {
    height: 100%;
    width: 1px;
    background-color: var(--gray);
}

.user-avg-grade {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 8px;
}


.hw-abstract {
    position: absolute;
    z-index: 1; /* Чтобы иконки были под контентом */
}
.brush-icon {
    right: 500px;
    top: 24px;
    width: 32px;

    transform: rotate(15deg);
}
.draw_pen-icon {
    right: 400px;
    bottom: -8px;
    width: 64px;

    opacity: 0.16;
    transform: rotate(-30deg);
}
.ruler-icon {
    right: 160px;
    top: -16px;

    width: 128px;

    opacity: 0.32;
    transform: rotate(15deg);
}


.profile-user-avatar-wrapper {
    overflow: hidden;

    width: 128px;
    height: 128px;
    border-radius: 999px;

    border: 1px solid var(--gray);
}

.subscription-avatar-wrapper {
    overflow: hidden;

    width: 48px;
    height: 48px;
    border-radius: 999px;

    border: 1px solid var(--gray);
}

.profile-user-avatar-wrapper img,
.subscription-avatar-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.subscribed-btn {
    padding-left: 12px;
    background-color: var(--light-gray);
    color: var(--secondary);
}

.subscribed-btn:hover {
    background-color: var(--gray);
    color: var(--primary);
}


